In [1]:
# Insert dependencies and set them up
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sqlalchemy import create_engine

In [3]:
## Connect to the local database
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/employees_db')
connection = engine.connect()
connection

In [5]:
employees_df = pd.read_sql("select * from employees", connection)
employees_df.fillna("NaN")

Empty DataFrame
Columns: [employ_no, employ_title_id, birth_date, first_name, last_name, sex, hire_date]
Index: []